* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     padding-left: 4rem;
     padding-right: 4rem;
}

header {
     height: 100px;
     width: 100%;
     /* background-color: aquamarine; */
     display: flex;
}

ul{
     display: flex;
     gap: 2rem;
     justify-content: right;
     align-items: center;
     width: 100%;
     height: 100%;
}

li {
     list-style-type: none;
     cursor: pointer;
}

.header-right {
     width: 50%;
     height: 100%;
     font-size: 30px;
     font-weight: 700;
}

.header-left {
     width: 50%;
     height: 100%;

}

.img {
     height: 100%;
     object-fit: cover;
}

.main-wrapper {
     background-color: rgb(206, 67, 67);
     width: 100%;
     height: 45vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
}

.img-png {
    width: 150px;
    height: auto;
}

p {
     width: 30%;
     text-align: center;
}

.button {
     padding: 1rem 2rem;
     outline: none;
     font-weight: 600;
     background-color: aliceblue;
     border: none;
     transition: 0.3s;
}

.button:hover{
     background-color: rgb(54, 160, 160);
     cursor: pointer;
}